{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}

<br />
<br />

{% endif %}


<form method="POST" action="{% url 'login' %}">

  {% csrf_token %}
  <div class="row">
    <div class="col-25">
      <label for="email">Email:</label>
      <input type="text" id="fname" name="username" placeholder="">
    </div>
    <div class="col-25">
      <label for="pwd">Password:</label>
      <input type="password" id="cname" name="password" placeholder="">
    </div>

    <div class="col-25">
      <label for="lnone"></label>
      <div>
        <input type="submit" id="login" class="button btn-secondary" value="LOGIN">
        <!input type="button" id="cancel-login" value="CANCEL">
      </div>
    </div>
  </div>
  <p><a href="#" alt="" class="btn-lists hpLink-sm">Forgot Password?</a></p>

</form>



{% endblock %}
