{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if error %}

{{ error }}

<br />
<br />

{% endif %}

  <form method="POST" action="{% url 'signup' %}">

  {% csrf_token %}
      <div class="row">
        <div class="col-25">
          <label for="email">Email:</label>
          <input type="text" id="fname1" name="username" placeholder="">
        </div>

        <div class="col-25">
          <label for="pwd">Password:</label>
          <input type="password" id="cname1" name="password1" placeholder="">
        </div>

        <div class="col-25">
          <label for="cpwd">Confirm Password:</label>
          <input type="password" id="cname1" name="password2" placeholder="">
        </div>

        <div class="col-25">
          <label for="lnone"></label>
          <div>
            <input type="submit" id="create" class="button btn-secondary" value="CREATE">
            <!input type="button" id="cancel-create" value="CANCEL">
          </div>
        </div>
      </div>
    </form>
  </div> <!-- End Container-CreatePanel -->

  {% endblock %}
