{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<div class="coin-details">
  <div class="block-meta-info">
    <span> BTC</span>
  </div>
  <h1 class="header-lg">Bitcoin</h1>
  <div class="coin-other-info">
    <ul>
      <li><i class="fa fa-link fa-1x" aria-hidden="true"></i> <a href="#" class="btn-lists"> bitcoin.org</a></li>
      <li><i class="fa fa-file-o fa-1x" aria-hidden="true"></i> <a href="#" class="btn-lists">whitepaper</a></li>
      <li><i class="fa fa-reddit fa-1x" aria-hidden="true"></i> <a href="#" class="btn-lists">r/bitcoin</a></li>
      <li><i class="fa fa-telegram fa-1x" aria-hidden="true"></i> <a href="#" class="btn-lists">telegram</a></li>
    </ul>
  </div>
</div>
</article>

<aside class="coin-other-details">
<div class="block-meta-info">
  <span>RANK #1</span>
</div>

<div>
  <span class="header-lg">$84,530.33</span>
  <span class="header-med color-green"> &nbsp; (+11.24%)</span>
</div>

<table class="coin-table-details floatRight">
  <tr>
    <td>VOLUME 24H</td><td>CIRCULATING</td><td>MARKET CAP</td>
  </tr>
  <tr class="header-med">
    <td>$214.64M</td><td>21M</td><td>$2.14T</td>
  </tr>
</table>
</aside>

</div>
</div>

<div class="container-filters">
<ul class="pagination forecast">
<li class="page-item"><a class="page-link" href="#">Today</a></li>
<li class="page-item"><a class="page-link selected" href="#">7-Day</a></li>
<li class="page-item"><a class="page-link" href="#">30-Day</a></li>
<li class="page-item"><a class="page-link" href="#">Quarter</a></li>
<li class="page-item"><a class="page-link" href="#">Year</a></li>
<li class="page-item"><a class="page-link" href="#">All-Day</a></li>
</ul>
</div>

<div class="container-charts" id="u3642">CHARTS</div>

</section>

<section>
<div class="container newsfeed">
{% comment %}
<article class="blog-item">
<div class="thumbnail">
<a href="#" title="Title will be displayed here.">
<img class="thumbnail" src="{% static 'img/newsfeed/chile-court-orders-1-218x150.jpg' %}" alt="" title="Chile Court Asks Banks to Re-Open Accounts of Cryptocurrency Exchange">
</a>
</div>
<div class="blog-item-details">
<div class="blog-meta-info">
<span> 2hrs ago</span>
<span> | </span>
<span><a href="#">cointelegraph.com</a></span>
</div>
<h3 class="blog-title">
<a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </a>
</h3>
<div class="blog-other-info">
<button onclick="javascript:location.href='#'" class="button btn-tertiary"><i class="fa fa-commenting-o fa-lg"></i>5 Comments</button>
<button onclick="javascript:location.href='#'" class="button btn-tertiary"><i class="fa fa-eye fa-lg"></i>Quick-Peek</button>
</div>
</div>
</article>

<article class="blog-item">
<div class="thumbnail">
<a href="#" title="Title will be displayed here.">
<img class="thumbnail" src="{% static 'img/newsfeed/ripple-218x150.jpg' %}" alt="" title="Chile Court Asks Banks to Re-Open Accounts of Cryptocurrency Exchange">
</a>
</div>
<div class="blog-item-details">
<div class="blog-meta-info">
<span> Yesterday</span>
<span> | </span>
<span><a href="#">cointelegraph.com</a></span>
</div>
<h3 class="blog-title">
<a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </a>
</h3>
<div class="blog-other-info">
<button onclick="javascript:location.href='#'" class="button btn-tertiary"><i class="fa fa-commenting-o fa-lg"></i>5 Comments</button>
<button onclick="javascript:location.href='#'" class="button btn-tertiary"><i class="fa fa-eye fa-lg"></i>Quick-Peek</button>
</div>
</div>
</article>

<article class="blog-item">
<div class="thumbnail">
<a href="#" title="Title will be displayed here.">
<img class="thumbnail" src="{% static 'img/newsfeed/btc-growth-3-218x150.jpg' %}" alt="" title="Chile Court Asks Banks to Re-Open Accounts of Cryptocurrency Exchange">
</a>
</div>
<div class="blog-item-details">
<div class="blog-meta-info">
<span> April 28, 2018</span>
<span> | </span>
<span><a href="#">cointelegraph.com</a></span>
</div>
<h3 class="blog-title">
<a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
</h3>
<div class="blog-other-info">
<button onclick="javascript:location.href='#'" class="button btn-tertiary"><i class="fa fa-commenting-o fa-lg"></i>5 Comments</button>
<button onclick="javascript:location.href='#'" class="button btn-tertiary"><i class="fa fa-eye fa-lg"></i>Quick-Peek</button>
</div>
</div>
</article>

<article class="blog-item">
<div class="thumbnail">
<a href="#" title="Title will be displayed here.">
<img class="thumbnail" src="{% static 'img/newsfeed/law-suit-218x150.jpg' %}" alt="" title="Chile Court Asks Banks to Re-Open Accounts of Cryptocurrency Exchange">
</a>
</div>
<div class="blog-item-details">
<div class="blog-meta-info">
<span> April 28, 2018</span>
<span> | </span>
<span><a href="#">cointelegraph.com</a></span>
</div>
<h3 class="blog-title">
<a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </a>
</h3>
<div class="blog-other-info">
<button onclick="javascript:location.href='#'" class="button btn-tertiary"><i class="fa fa-commenting-o fa-lg"></i>5 Comments</button>
<button onclick="javascript:location.href='#'" class="button btn-tertiary"><i class="fa fa-eye fa-lg"></i>Quick-Peek</button>
</div>
</div>
</article>
{% endcomment %}




<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
	//feed to parse
	var feed = "https://cointelegraph.com/rss";

	$.ajax(feed, {
		accepts:{
			xml:"application/rss+xml"
		},
		dataType:"xml",
		success:function(data) {
			//Credit: http://stackoverflow.com/questions/10943544/how-to-parse-an-rss-feed-using-javascript

			$(data).find("item").each(function () { // or "item" or whatever suits your feed
				var el = $(this);
				console.log("------------------------");
				console.log("title      : " + el.find("title").text());
        document.getElementById("demo").innerHTML = el.find("title").text();

				console.log("link       : " + el.find("link").text());
				console.log("description: " + el.find("description").text());

        appendText(el.find("title").text(), el.find("description").text());
			});


		}
	});

});
</script>
<div id="demo">
  <h2>Let AJAX change this text</h2>
</div>
<script>

function appendText(ttl, dsc) {
  //  var txt1 = "<p>Text.</p>";               // Create element with HTML
  //  var txt2 = $("<p></p>").text("Text.");   // Create with jQuery
    var txt1 = document.createElement("h3");  // Create with DOM
    txt1.innerHTML = ttl;

    var txt2 = document.createElement("p");  // Create with DOM
    txt2.innerHTML = dsc;

    var txt3 = document.createElement("br");  // Create with DOM


    $("body").append(txt1, txt2, txt3);      // Append the new elements
}
</script>

{% endblock %}
